.form {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-gap: 20px;
}

@media(max-width: 767px) {
    .form {
        grid-template-columns: 1fr;
    }
}

.form__input {
    padding: 10px;
    border: 1px solid #ddd;
}

.form__button {
    border: none;
    background: teal;
    color: white;
    padding: 10px;
}

.form__button:hover {
    background: hsl(180, 100%, 32%);
}

.form__button:active {
    background: hsl(180, 100%, 38%);
}