.section {
    margin: 10px 0;
    background:white;
}

.section__header {
    font-size: 25px;
    padding: 20px;
    margin: 0;
    border-bottom: 1px solid #ddd;
}

.section__body {
    padding: 20px;
}